
/* ========================================== */ 
/* ========== This styles the page ========== */
/* ========================================== */ 

body{
  background-image: url("../images/indeximages/wood-background.jpg");
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

header{
  margin: 50px auto;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

/* ========================================== */ 
/* ======= This styles the Team Bio ======= */
/* ========================================== */
#team-bio{
  display: flex;
  justify-content: center;
  border: 10px solid gray;
  margin: 50px 0;
  width: 970px;
  height: 800px;
}

.bio-box{
  width: 260px;
  height: 700px;
  margin: 40px 10px;
  border: 10px solid gray;
}

.bio-pic{
  width: 220px;
  height: 260px;
  border: 1px solid gray;
  margin: 10px 20px;
}

.name-heading{
  margin: 0px 20px;
  font-size: large;
  font-weight: bold;
  color: blue;  
}

.bio-text{
  /* border: 1px solid gray; */
  width: 220px;
  height: 280px;
  margin: 0px 20px;
  color: purple;
  text-shadow: rgb(235, 231, 216) 1px 0 10px;
  text-justify: center;    
}

.linkedin-logo{
  width: 100px;
  height: 100px;
  margin: 0px 20px;
}

.github-logo{
  width: 50px;
  height: 50px;
  margin: 0px 20px;
  margin-bottom: 22px;
}

/* ========================================== */ 
/* ======= This styles the How-To Guide ======= */
/* ========================================== */ 

h2#how-to-guide-title{
  width: 500px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin: 0px auto;
}

#how-to-guide{
  display: flex;
  flex-direction: column;
  width: 970px;
  height: 800px;
  border: 10px solid white;
}

h5{
  width: 800px;
  height: 120px;
  border: 1px solid yellow;
  margin: 20px auto;
}

#contact-us{
  margin: 100px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: blue
}