/* ========================================== */ 
/* ========= Document Layout Section ======== */
/* ========================================== */ 

body{
  background-image: url("../images/indeximages/wood-background.jpg");
  font-family: 'Noto Sans JP', sans-serif;
}

/* Centers Header and adds Translucent Label Backgroud */
header{
  margin: 40px auto 20px auto;
  width: 1200px;
  font-size: xx-large;
  background-color: rgba(229, 238, 238, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centers form background img & both forms */
#both-forms{
  background: url("../images/budgetinputimages/notebookpng1500px.png") no-repeat;
  background-size: cover;
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  position: relative;
}



/* ========================================== */ 
/* ========= Form Formatting Section ======== */
/* ========================================== */ 

/* Sets up the positioning for both forms */
form{
  width: 400px;
  margin: -225px auto 50px auto;
}

#user-form{
  margin-top: -130px;
}

label{
  margin-bottom: 2px;
}

input, select{
  margin-bottom: 5px;
}

.form-fieldset{
  display: grid;
}

.form-title{
  border: black dotted 1px;
  background-color: seagreen;
  height: 60px;
  font-size: xx-large;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ========================================== */ 
/* ======= This styles the navigation ======= */
/* ========================================== */ 

#budgetinput-nav{
  height: 30px;
  background-color: aliceblue;
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -0px auto 10px auto;
  width: 1200px;
  border-radius: 30px;
}

#budgetinput-nav-options{
  display: flex;
}

.budgetinput-nav-links{
  padding: 0px 10px;
  font-size: x-large;
  font-weight: bolder;
}